/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #CC00AA;
}

/* this style exists to make it obvious that you've successfully linked
   the CSS to the page. feel free to remove it once the link is working. */
/*
body {
     border: 1px dotted gray;
     padding: 20px;
}
*/


.jumbotron {
     padding: 10px 0;
     border-bottom: 1px dashed;
}

/*
.jumbotron:after {
     content:"";
     background: url("../images/lorempixel.jumbotron.jpeg");
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;	
}

*/



.jumbotron p {
     color: #6e6e6e;

}

.project a {
     text-align: center;
}

.jumbotron p.active {
     color: #1f6ddd;
}

.jumbotron-title {
    color: #000000;
    /* left: 50%; */
    position: relative;
    text-align: center;

}
.jumbotron-menu {
    padding-left: 10px;
    height: 48px;
    vertical-align: middle;
    /* display: block; */
    position: absolute;
    left: 5%;
}
.jumbotron-back {
    padding-right: 10px;
    height: 48px;
    vertical-align: middle;
    /* display: block; */
    position: absolute;
    right: 5%;
}

.wrapper { 
     background:#EFEFEF; 
     box-shadow: 1px 1px 10px #999; 
     margin: auto; 
     text-align: center; 
     position: relative;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     border-radius: 5px;
     margin-bottom: 20px !important;
     width: 800px;
     padding-top: 5px;
}
.scrolls { 
     overflow-x: scroll;
     overflow-y: hidden;
     height: 80px;
     white-space:nowrap
} 
.imageDiv img { 
     box-shadow: 1px 1px 10px #999; 
     margin: 2px;
     max-height: 50px;
     cursor: pointer;
    display:inline-block;
    vertical-align:top;
}
.image {
     position: relative;
}

.browsebottom {
     position: fixed;
     left: 0;
     bottom: 0;
     right: 0;
     z-index: 99;
}

.acceptbutton {
     position: absolute;
     height: 39px;
     padding: 0 12px;
     font-size: 15px;
     line-height: 38px;
     color: white;
     background-color: green;
     border: 1px solid #c8c8c8;
     border-radius: 4px;
     resize: none;
     left: 5%;
     width: 100px;
}

.declinebutton {
     position: absolute;
     height: 39px;
     padding: 0 12px;
     font-size: 15px;
     line-height: 38px;
     color: white;
     background-color: red;
     border: 1px solid #c8c8c8;
     border-radius: 4px;
     resize: none;
     right: 5%;
     width: 100px;
}
.container {
     padding-left: 10px;
     padding-right: 10px;
}

#like {
     position: absolute;
     height: 39px;
     width: 100px;
     left: 5%;
}

#dislike {
    position: absolute;
    height: 39px;
    width: 100px;
     right: 5%;
}

.btn-group {
    position: static;
}

.list-group {
    background-color: white;
}
.list-group-item {
    color: black;
}

.item img {
    height: 200px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}


/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/* Add Animation */

@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0} 
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}


.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

  .test + .tooltip > .tooltip-inner {
      background-color: #73AD21; 
      color: #FFFFFF; 
      border: 1px solid green; 
      padding: 15px;
      font-size: 20px;
  }
  /* Tooltip on top */
  .test + .tooltip.top > .tooltip-arrow {
      border-top: 5px solid green;
  }



